body{
	font-family: 'Playfair Display', serif;
	font-size: 16px;
}

img{
	max-width: 100%
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.grid{
	display:grid;
	grid-template-rows: 1fr 4fr;
}

.bulk{
	display:grid;
	grid-template-columns: 1fr 4fr;
}