body{
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	padding: 32px;
	margin: 40px auto;
	max-width: 960px;
}

img{
	max-width: 100%
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.grid{
	display:grid;
	grid-template-rows: 1fr 4fr;
}

.bulk{
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 20px;
	padding: 24px 0;
}

.AHeader{
	display: flex;
	justify-content: center;
	background-image:url(http://i.4cdn.org/wg/1539178894333.jpg)
	background-size:cover;
}

.BHeader{
	border: 1px	solid black;
	display: flex;
	justify-content: center;
}